In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = sns.load_dataset("diamonds")

In [5]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [6]:
a = df.isna()
a.value_counts()

carat  cut    color  clarity  depth  table  price  x      y      z
False  False  False  False    False  False  False  False  False  False    53940
dtype: int64

In [7]:
df[df['x']==0].dropna()

       carat        cut color clarity  depth  table  price    x     y    z
11182   1.07      Ideal     F     SI2   61.6   56.0   4954  0.0  6.62  0.0
11963   1.00  Very Good     H     VS2   63.3   53.0   5139  0.0  0.00  0.0
15951   1.14       Fair     G     VS1   57.5   67.0   6381  0.0  0.00  0.0
24520   1.56      Ideal     G     VS2   62.2   54.0  12800  0.0  0.00  0.0
26243   1.20    Premium     D    VVS1   62.1   59.0  15686  0.0  0.00  0.0
27429   2.25    Premium     H     SI2   62.8   59.0  18034  0.0  0.00  0.0
49556   0.71       Good     F     SI2   64.1   60.0   2130  0.0  0.00  0.0
49557   0.71       Good     F     SI2   64.1   60.0   2130  0.0  0.00  0.0

In [8]:
df.replace(to_replace = 0, value = np.NaN, inplace = True)

In [9]:
df.dropna(inplace = True)

In [10]:
df.replace(to_replace = ['Fair', 'Good', 'Very Good', 'Premium', 'Ideal'], value = [1, 2, 3, 4, 5], inplace = True)

In [11]:
df

       carat  cut color clarity  depth  table  price     x     y     z
0       0.23    5     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    4     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23    2     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    4     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31    2     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72    5     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    2     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    3     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    4     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    5     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53920 rows x 10 columns]

In [12]:
df.replace(to_replace = ['D', 'E', 'F', 'G', 'H', 'I', 'J'], value = [7, 6, 5, 4, 3, 2, 1], inplace = True)

In [13]:
df

       carat  cut  color clarity  depth  table  price     x     y     z
0       0.23    5      6     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    4      6     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23    2      6     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    4      2     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31    2      1     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72    5      7     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    2      7     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    3      7     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    4      3     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    5      7     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53920 rows x 10 columns]

In [14]:
df['color']

0        6
1        6
2        6
3        2
4        1
        ..
53935    7
53936    7
53937    7
53938    3
53939    7
Name: color, Length: 53920, dtype: int64

In [15]:
df['clarity'].replace(to_replace = ["I1","SI2", "SI1", 'VS2', 'VS1', 'VVS2', 'VVS1', 'IF'], value = [1, 2, 3, 4, 5, 6, 7, 8], inplace = True)

In [16]:
df

       carat  cut  color  clarity  depth  table  price     x     y     z
0       0.23    5      6        2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    4      6        3   59.8   61.0    326  3.89  3.84  2.31
2       0.23    2      6        5   56.9   65.0    327  4.05  4.07  2.31
3       0.29    4      2        4   62.4   58.0    334  4.20  4.23  2.63
4       0.31    2      1        2   63.3   58.0    335  4.34  4.35  2.75
...      ...  ...    ...      ...    ...    ...    ...   ...   ...   ...
53935   0.72    5      7        3   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72    2      7        3   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70    3      7        3   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    4      3        2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    5      7        2   62.2   55.0   2757  5.83  5.87  3.64

[53920 rows x 10 columns]

In [17]:
orig = sns.load_dataset('diamonds')
orig

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [18]:
df['color']

0        6
1        6
2        6
3        2
4        1
        ..
53935    7
53936    7
53937    7
53938    3
53939    7
Name: color, Length: 53920, dtype: int64

In [19]:
df2 = df.copy()

In [20]:
df2["new"] = df2['depth']/df2['table']

In [21]:
df2

,carat,cut,color,clarity,depth,table,price,x,y,z,new
0,0.23,5,6,2,61.5,55.0,326,3.95,3.98,2.43,1.118182
1,0.21,4,6,3,59.8,61.0,326,3.89,3.84,2.31,0.980328
2,0.23,2,6,5,56.9,65.0,327,4.05,4.07,2.31,0.875385
3,0.29,4,2,4,62.4,58.0,334,4.20,4.23,2.63,1.075862
4,0.31,2,1,2,63.3,58.0,335,4.34,4.35,2.75,1.091379
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,5,7,3,60.8,57.0,2757,5.75,5.76,3.50,1.066667
53936,0.72,2,7,3,63.1,55.0,2757,5.69,5.75,3.61,1.147273
53937,0.70,3,7,3,62.8,60.0,2757,5.66,5.68,3.56,1.046667
53938,0.86,4,3,2,61.0,58.0,2757,6.15,6.12,3.74,1.051724
53939,0.75,5,7,2,62.2,55.0,2757,5.83,5.87,3.64,1.130909

In [22]:
df2['vol'] = df2['x']*df2['y']*df2['z']

In [23]:
df2

,carat,cut,color,clarity,depth,table,price,x,y,z,new,vol
0,0.23,5,6,2,61.5,55.0,326,3.95,3.98,2.43,1.118182,38.202030
1,0.21,4,6,3,59.8,61.0,326,3.89,3.84,2.31,0.980328,34.505856
2,0.23,2,6,5,56.9,65.0,327,4.05,4.07,2.31,0.875385,38.076885
3,0.29,4,2,4,62.4,58.0,334,4.20,4.23,2.63,1.075862,46.724580
4,0.31,2,1,2,63.3,58.0,335,4.34,4.35,2.75,1.091379,51.917250
...,...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,5,7,3,60.8,57.0,2757,5.75,5.76,3.50,1.066667,115.920000
53936,0.72,2,7,3,63.1,55.0,2757,5.69,5.75,3.61,1.147273,118.110175
53937,0.70,3,7,3,62.8,60.0,2757,5.66,5.68,3.56,1.046667,114.449728
53938,0.86,4,3,2,61.0,58.0,2757,6.15,6.12,3.74,1.051724,140.766120
53939,0.75,5,7,2,62.2,55.0,2757,5.83,5.87,3.64,1.130909,124.568444

In [24]:
df['vol'] = df['x']*df['y']*df['z']

In [25]:
df

,carat,cut,color,clarity,depth,table,price,x,y,z,vol
0,0.23,5,6,2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,0.21,4,6,3,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,0.23,2,6,5,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,0.29,4,2,4,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,0.31,2,1,2,63.3,58.0,335,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,5,7,3,60.8,57.0,2757,5.75,5.76,3.50,115.920000
53936,0.72,2,7,3,63.1,55.0,2757,5.69,5.75,3.61,118.110175
53937,0.70,3,7,3,62.8,60.0,2757,5.66,5.68,3.56,114.449728
53938,0.86,4,3,2,61.0,58.0,2757,6.15,6.12,3.74,140.766120
53939,0.75,5,7,2,62.2,55.0,2757,5.83,5.87,3.64,124.568444

In [26]:
%matplotlib widget

In [27]:
fig=plt.figure()
plt.pie(df['cut'].value_counts()) 
fig.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [29]:
fig = plt.figure()
plt.pie(df['cut'].value_counts())
fig.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [30]:
fig = plt.figure()
plt.pie(df['color'].value_counts())
fig.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [31]:
fig = plt.figure()
plt.pie(df['clarity'].value_counts(), labels=df['clarity'].value_counts().index, autopct="%.1F %%")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

([<matplotlib.patches.Wedge at 0x7fa27c3fd850>,
  <matplotlib.patches.Wedge at 0x7fa27c3fdfa0>,
  <matplotlib.patches.Wedge at 0x7fa27c40c670>,
  <matplotlib.patches.Wedge at 0x7fa27c40cd00>,
  <matplotlib.patches.Wedge at 0x7fa27c4193d0>,
  <matplotlib.patches.Wedge at 0x7fa27c419a60>,
  <matplotlib.patches.Wedge at 0x7fa27c427130>,
  <matplotlib.patches.Wedge at 0x7fa27c4277c0>],
 [Text(0.7964839311143678, 0.7586918659618035, '3'),
  Text(-0.6790891390730185, 0.8653542287370338, '4'),
  Text(-1.035666061588701, -0.3706694064437328, '2'),
  Text(-0.23567742649049458, -1.0744562115986012, '5'),
  Text(0.5798765375295413, -0.9347423180870496, '6'),
  Text(0.9613696444188449, -0.5345731070583181, '7'),
  Text(1.0801443539154718, -0.20805810415489245, '8'),
  Text(1.0989832644350552, -0.047284082857445266, '1')],
 [Text(0.4344457806078369, 0.4138319268882564, '24.2 %'),
  Text(-0.3704122576761919, 0.4720113974929275, '22.7 %'),
  Text(-0.5649087608665642, -0.2021833126056724, '17.0 %'),
  Text(-0.12855132354026977, -0.5860670245083278, '15.2 %'),
  Text(0.31629629319793157, -0.5098594462292997, '9.4 %'),
  Text(0.5243834424102789, -0.29158533112271895, '6.8 %'),
  Text(0.5891696475902574, -0.11348623862994131, '3.3 %'),
  Text(0.5994454169645754, -0.02579131792224287, '1.4 %')])

In [32]:
plt.close('all')

In [33]:
fig = plt.figure()
df['clarity'].value_counts().plot.pie()
fig.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [34]:
fig = plt.figure()
sns.scatterplot(x='x', y='carat', data=df, hue='color', size='price')
fig.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [35]:
sns.jointplot(x="x", y='carat',data=df) #also makes a regression line
fig.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [36]:
df1 = df.copy()

In [37]:
df1

,carat,cut,color,clarity,depth,table,price,x,y,z,vol
0,0.23,5,6,2,61.5,55.0,326,3.95,3.98,2.43,38.202030
1,0.21,4,6,3,59.8,61.0,326,3.89,3.84,2.31,34.505856
2,0.23,2,6,5,56.9,65.0,327,4.05,4.07,2.31,38.076885
3,0.29,4,2,4,62.4,58.0,334,4.20,4.23,2.63,46.724580
4,0.31,2,1,2,63.3,58.0,335,4.34,4.35,2.75,51.917250
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,5,7,3,60.8,57.0,2757,5.75,5.76,3.50,115.920000
53936,0.72,2,7,3,63.1,55.0,2757,5.69,5.75,3.61,118.110175
53937,0.70,3,7,3,62.8,60.0,2757,5.66,5.68,3.56,114.449728
53938,0.86,4,3,2,61.0,58.0,2757,6.15,6.12,3.74,140.766120
53939,0.75,5,7,2,62.2,55.0,2757,5.83,5.87,3.64,124.568444

In [38]:
X = df1.drop('price', axis = 1)

In [39]:
X

       carat  cut  color  clarity  depth  table     x     y     z         vol
0       0.23    5      6        2   61.5   55.0  3.95  3.98  2.43   38.202030
1       0.21    4      6        3   59.8   61.0  3.89  3.84  2.31   34.505856
2       0.23    2      6        5   56.9   65.0  4.05  4.07  2.31   38.076885
3       0.29    4      2        4   62.4   58.0  4.20  4.23  2.63   46.724580
4       0.31    2      1        2   63.3   58.0  4.34  4.35  2.75   51.917250
...      ...  ...    ...      ...    ...    ...   ...   ...   ...         ...
53935   0.72    5      7        3   60.8   57.0  5.75  5.76  3.50  115.920000
53936   0.72    2      7        3   63.1   55.0  5.69  5.75  3.61  118.110175
53937   0.70    3      7        3   62.8   60.0  5.66  5.68  3.56  114.449728
53938   0.86    4      3        2   61.0   58.0  6.15  6.12  3.74  140.766120
53939   0.75    5      7        2   62.2   55.0  5.83  5.87  3.64  124.568444

[53920 rows x 10 columns]

In [40]:
Y = df1['price']

In [41]:
Y

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53920, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X,Y)

In [44]:
X_train.to_pickle("xtrain", compression="xz")

In [45]:
y_train.to_pickle("ytrain", compression="xz")

In [46]:
X_test.to_pickle("xtest", compression = "xz")

In [47]:
y_test.to_pickle("ytest", compression = "xz")

In [48]:
X_test.shape

(13480, 10)

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.9048133703143573

In [51]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, explained_variance_score

In [52]:
y_pred = lr.predict(X_test)

In [53]:
r2_score(y_test, y_pred)

0.9048133703143573

In [54]:
mean_squared_error(y_test, y_pred)

1517358.7510818604

In [55]:
mean_absolute_error(y_test, y_pred)

804.1105703986822

In [56]:
explained_variance_score(y_test, y_pred)

0.9048166585498136

In [57]:
from sklearn.linear_model import SGDRegressor

In [58]:
sgd = SGDRegressor(max_iter=10_000, n_iter_no_change=100)

In [59]:
sgd.fit(X_train, y_train)
sgd.score(X_test, y_test)

-9353523239351064.0

In [60]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, explained_variance_score

In [61]:
y_pred = lr.predict(X_test)

In [62]:
r2_score(y_test, y_pred)

0.9048133703143573

In [63]:
mean_squared_error(y_test, y_pred)

1517358.7510818604

In [64]:
mean_absolute_error(y_test, y_pred)

804.1105703986822

In [65]:
explained_variance_score(y_test, y_pred)

0.9048166585498136

ridge lasso svr, randomforest